body {
    background-color:#fff4e9;
    width: 40%;
    margin:auto
}

.card{
    background-color:#ffd4d4;
    margin:10px;
    align-items: center;
    margin: 15px;
    padding: 20px;
}

p {
    font-family: "sans-serif";
    font-weight: bolder;
}
button{
    background-color:#dd6565;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%
}
button:hover{
    background-color:#fff4e9
}

S{
    font-weight: lighter;
    font-size: 10PT;
    color: grey;
}